body {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  background-color: #041C32;
  color: white;
}

h1 {
  font-size: 3.5rem;
  margin: 5% 0 0 0;
}

h4 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.25rem;
}

.b-font {
  font-weight: bold;
  font-size: 1.25rem;
}

.underline {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}

ul { 
  margin-right: 5%;
}

li {
  font-size: 1.25rem;
  list-style: none;
  padding-top: 1.2%;
}

img {
  width: 500px;
  border: .25px solid white;
  border-radius: 5px;
}

.btn {
  font-size: 1rem;
  padding: 2% 4%;
  background-color: #041C32;
  border: .5px solid white;
  color: white;
  border-radius: 8px;
}

.btn:hover {
  background-color: #406882;
}

.btn:active {
  transform: translateY(4px);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin-bottom: 2%;
}

.drink-card {
  width: 100%;
}

.drink-top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.drink-info {
  margin-left: 2%;
}

.drink-instructions {
  width: 50%;
  margin: auto;
}

.ing {
  display: inline-block;
  position: relative;
  right: 35px;
  width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    padding-top: 1%;
  }

  img {
    width: 100%;
    border-radius: 5px;
    border: .1px solid white;
  }

  ul { 
    margin-right: 5%;

  }
  
  li {
    font-size: 1rem;
    list-style: none;
    padding-top: 1.2%;
  }

  .drink-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .drink-pic {
    width: 90%;
  }

  p {
    font-size: .8rem;
  }

  .b-font {
    font-weight: bold;
    font-size: .95rem;
  }

}